<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="方糖音乐播放器.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <方糖音乐播放器.Properties.Settings>
      <setting name="歌词目录" serializeAs="String">
        <value>无</value>
      </setting>
      <setting name="主题颜色" serializeAs="String">
        <value>System.Windows.Controls.ComboBoxItem: 宝石绿</value>
      </setting>
      <setting name="背景图片" serializeAs="String">
        <value>默认</value>
      </setting>
      <setting name="歌单路径" serializeAs="String">
        <value>无</value>
      </setting>
      <setting name="歌单路径参数" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="是否歌词显示" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="歌词滚动动画" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="背景模糊程度" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="音量" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="播放设置" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="背景填充" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="独立播放视频" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="桌面歌词" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="循环视频" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="嵌入歌词" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="错误报告" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="网络接口参数" serializeAs="String">
        <value>腾讯</value>
      </setting>
      <setting name="网络歌曲缓存目录" serializeAs="String">
        <value>系统音乐目录</value>
      </setting>
    </方糖音乐播放器.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>